
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}
h3{
    text-align: center;
}

header {
    display: grid;
    gap: 0px;
    background-color: #4CAF50;
    padding: 1em;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: contain;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styling */
section {
    padding: 2em;
    margin: 2rem;
    border: 1px solid;
}

section h2 {
    margin-bottom: 0.5em;
    color: #4CAF50;
    text-align: center;
}

section ul {
    list-style-type: square;
    margin-left: 1em;
}

.education{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.schools{
    border: 1px solid;
    padding: 1rem;
    flex: 1 0 300px;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
    }

    .schools{
        flex: 1 0 300px;
    }
}